@forward "./base/index";
@use "../scss/utils/index" as variable;
header {
  background: variable.$header_bg;
  padding: 1rem;
}
main {
  background: variable.$main_bg;
  color: white;
  padding: 1rem;
}
footer {
  background: tomato;
  padding: 14px;
}

// mixin
@mixin paragraph_style($size, $style) {
  text-align: $style;
  font-size: $size;
  margin-top: 20px;
}
#about p {
  @include paragraph_style(20px, center);
}
#education {
  @include paragraph_style(26px, justify);
}

// if else condition on mixin
@mixin setFontSize($value) {
  @if $value == small {
    font-size: 16px;
  } @else if $value == medium {
    font-size: 20px;
  } @else if $value == large {
    font-size: 55px;
  } @else {
    font-size: none;
  }
}

// header nav ul li a {
//   @include setFontSize(large);
// }

// inherit
.btn {
  border: none;
  padding: 16px 40px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  @include setFontSize(large);
}
.download-btn {
  @extend .btn;
  background-color: crimson;
}
.learn-btn {
  @extend .btn;
  background-color: tomato;
}
