// Browser reset style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Color variable declarations
$header_bgColor: #ffab73;
$main_bgColor: #7aff73;
$footer_bgColor: #ff73f8;

// font size variable
$paragraphFontSize: 24px;

header {
  background: $header_bgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  background: $main_bgColor;
}
footer {
  background: $footer_bgColor;
}

#about p {
  font-size: $paragraphFontSize;
}

// nav styles
// nav {
//   margin-top: 5px;
// }
// nav ul {
//   list-style: none;
// }
// nav ul li {
//   display: inline-block;
//   color: white;
//   text-decoration: none;
//   padding: 10px;
//   transition: 0.4s;
// }
// nav ul li a {
//   display: inline-block;
//   color: white;
//   text-decoration: none;
//   padding: 10px;
//   transition: 0.4s;
// }
// nav ul li a:hover {
//   background-color: black;
//   border-radius: 4px;
// }

// sass nesting
nav {
  margin-top: 5px;
  ul {
    list-style: none;
    li {
      display: inline-block;
      color: white;
      text-decoration: none;
      padding: 10px;
      transition: 0.4s;
      a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 10px;
        transition: 0.4s;
      }
      a:hover {
        background-color: black;
        border-radius: 4px;
      }
    }
  }
}
